<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Диплом.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Диплом.Properties.Settings>
            <setting name="N" serializeAs="String">
                <value />
            </setting>
            <setting name="C" serializeAs="String">
                <value />
            </setting>
            <setting name="w1" serializeAs="String">
                <value />
            </setting>
            <setting name="w2" serializeAs="String">
                <value />
            </setting>
            <setting name="w3" serializeAs="String">
                <value />
            </setting>
            <setting name="w4" serializeAs="String">
                <value />
            </setting>
            <setting name="w5" serializeAs="String">
                <value />
            </setting>
            <setting name="w6" serializeAs="String">
                <value />
            </setting>
            <setting name="w7" serializeAs="String">
                <value />
            </setting>
            <setting name="w8" serializeAs="String">
                <value />
            </setting>
            <setting name="w9" serializeAs="String">
                <value />
            </setting>
            <setting name="delta" serializeAs="String">
                <value />
            </setting>
            <setting name="round" serializeAs="String">
                <value />
            </setting>
            <setting name="Map" serializeAs="String">
                <value />
            </setting>
            <setting name="Gamma" serializeAs="String">
                <value />
            </setting>
            <setting name="Kv" serializeAs="String">
                <value />
            </setting>
            <setting name="u" serializeAs="String">
                <value />
            </setting>
            <setting name="MapSize" serializeAs="String">
                <value />
            </setting>
            <setting name="CellSize" serializeAs="String">
                <value />
            </setting>
            <setting name="Scenariy" serializeAs="String">
                <value />
            </setting>
            <setting name="ScenarCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="phi" serializeAs="String">
                <value />
            </setting>
        </Диплом.Properties.Settings>
    </userSettings>
</configuration>